.navigation {
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    &__previous {
        flex: 0 0 50px;
        background-image: url('img/arrow-left.svg');
        &:hover {
            cursor: pointer;
        }
    }
    &__next {
        flex: 0 0 50px;
        background-image: url('img/arrow-right.svg');
        &:hover {
            cursor: pointer;
        }
    }
}