mixin testimonials 
  +b.SECTION.testimonials
    +e.container
      +e.row
        +e.text
          +e.label
            +label('testimonials')
          +e.heading
            +b.H2.section-title "Professionals in their craft! All products were super great with strong attention to details, and overall vibe"
          +e.author
            p.title Polina Kuzina
          +e.position
            p.position Manager at Craftwork
          +e.navigation
            +navigation
        +e.photo
          img(src="img/polina.jpg", alt="Polina")
    