.works {
    margin-bottom:250px;
    &__container {
        @include container(1140px);
    }
    &__row {
        @include make-row();
        align-items: center;
        margin-bottom: 108px;
        .section-title {
            @include col(6);
            padding-top: 0;
            margin-bottom: 0;
        }
        .switcher {
            @include col(6);
            padding-left: 80px;
        }
    }
    &__label {
        margin-bottom: 40px;
    }
    &__samples {
        margin-bottom: 22px;
    }
    &__footer {
        @include make-row();
    }
    &__footer-text {
        @include col(8);
        p {
            margin: 0;
            @include paragraph-o7();
        }
    }
    &__footer-button {
        padding-right: 15px;
        margin-left: auto;
    }
}

.switcher {
    &__item {
        display: none;
    }
    &__label {
        @include label();
        opacity: 0.3;
        margin-bottom: 0;
        &:hover {
            cursor: pointer;
        }
    }
    &__label:not(:last-child) {
        margin-right: 23px;
    }
    :checked + &__label {
        color: #1434e1;
        opacity: 1;
    }
}

.samples {
    margin: 0;
    padding: 0;
    list-style: none;
    @include make-row();
    &__item {
        @include col(4);
        margin-bottom: 30px;
    }
}