mixin hero
    +b.SECTION.hero
        +e.container
            +e.row
                +e.left
                    +e.text
                        +b.H1.page-title Work around you and your team
                        +b.P.page-description 
                            |From ads that dance or sing to MTV-like commercials, 
                            |online advertisers are now using a new type of 
                            |technology “rich media” to attract consumers.
                    +e.button
                        +button
                    +loader
                +e.right
                    img(src="img/placeholder.png", alt="Placeholder")