mixin header
  +b.HEADER.main-header
    +e.container
      +e.row
        +e.A.logo(href="#")
          img(src="img/logo.svg", alt="Gravity")
        +e.A.search-btn(href="#")
          img(src="img/search.svg", alt="Search")
        +e.menu-btn
