mixin features
  +b.SECTION.features
    +e.container
      +e.row
        +e.left
          img(src="img/feature1.jpg", alt="Feature1" class="lefted")
          img(src="img/feature2.jpg", alt="Feature2" class="feature2")
        +e.right  
          +b.H2.section-title Well thought with super easy to use
          +b.section-text 
            p
              |As we approached the palace I could see through the great windows of 
              |the first floor the brilliantly illuminated audience chamber of Than Kosis.
              | the first floor the brilliantly illuminated audience chamber of Than Kosis.
          +b.feature
            +e.icon(style="background-image: url('img/100icon.png')")
            +e.H3.name Ultimate Result
          +b.feature
            +e.icon(style="background-image: url('img/bag.png')")
            +e.H3.name Minimal Design