@mixin col($n) {
    @include make-col-ready();
    @include make-col($n);
}

@mixin col-small($bp, $size) {
    @include media-breakpoint-down($bp) {
        @include make-col($size);
    }
}

@mixin hide-from($bp) {
    @include media-breakpoint-down($bp) {
        display: none;
      }
}

@mixin container($width) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: $width;
}

@mixin big-title() {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
}

@mixin title() {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
}

@mixin paragraph-o7() {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
}